body{
    .contacto{
        height: 80vh;
        text-align: center;
        .tituloMenu{
            padding-bottom: 20px;
            border-bottom: solid 1px #e9c16a;
        }
        label{
            margin: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: white;
            font-size: 25px;
        }
    }
    @media (max-width:768px){
        .contacto{
            height: 100vh;
        }
        .porque{
            display: none;
        }
    }
}