body{
    .titulo{
        display: grid; 
        grid-template-rows: 86.5vh;
    }
    .tituloPrincipal{
        color: white;
        text-align: center;
        top: 50%;
        left: 50%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        padding: 10px;
        border:500px;
        h4{
            font-size: 15px;
            letter-spacing: 8px;
        }
        h1{
            letter-spacing: 8px;
            font-size: 45px;
        }
    }
    p{
        position: absolute;
    }
    @media (max-width:1012px){
        .titulo{
            height: 84vh;
        }
    }

    @media (max-width:768px){
        .titulo{
            height: 90.9vh;
        }
        .tituloPrincipal{
            background:unset;
        }
    }
}