body{
    .footerGrid{
        background-color: rgba(0, 0, 0, 0.2);
        display:grid;
        margin: 40px 100px 0px;
        grid-template-columns: 30vw 20vw 30vw;
        grid-template-rows: 39vh;
        justify-items: center;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        .fab{
            font-size: 70px;
            color: white;
            margin: 10px;
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.3s;
                color: #e9c16a; 
            }
        }
        h2{
            text-align: center;
            font-size: 20px;
            margin: 20px;
            padding-bottom: 20px;
            border-bottom: solid 1px #e9c16a;
            color: white;
            letter-spacing: 8px;
        }
        h6{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: white;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
        }
    }
    @media (max-width:1012px){
        .footerGrid{
            background-color: rgba(0, 0, 0, 0.2);
            text-align: center;
            grid-template-rows:  20vh 30vh;
            grid-template-columns: 75vw;
            justify-items: center;
            align-items: center;
            margin: 0px 50px;
        }
        .liFooter{
          margin:0px 50px
        }
        h6{
            font-size: 15px;
        }
    }
    @media (max-width:790px){
       .footerGrid{
           background-color: rgba(0, 0, 0, 0);
       }
       .sectionFooter{
           background-color: rgba(0, 0, 0, 0.2);
       }
       .porque{
           display: none;
       }
    }
}