body{
    .contenedor{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        .cards{
            background-color: rgba(0, 0, 0, 0.2);
            width: 330px;
            height: 300px;
            border-radius: 8px;
            box-shadow: 0.2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            &:hover{
                transform: translateY(-15px);
                box-shadow:0 12px 16px rgba(0, 0, 0, 0.2);
                a{
                    color: #e9c16a; 
                    transition: all 0.5s;
                }
            }
            img{
                width: 330px;
                height: 260px ;
            }
            h4{
                font-weight: 600;
            }
            a{
                text-decoration: none;
                color: white;
                padding: 30px;
            }
        }
    }
}