body{
    font-family: 'Train One', cursive;
    margin: 0;
    video{
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -100;
    }    
    header{
        .logoMenu{
            display: none;
            width: 60px;
            height: 60px;
        }
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        #btnMenu{
            display: none;
        }
        label{
            display: none;
            width: 75px;
            height: 45px;
            padding: 3px 0px 10px;
            &:hover{
                cursor: pointer;
                background-color: #03989E;
            }
        }
        .menu{
            ul{
                .seccionActiva{
                    color: #03989E;
                }
                margin: 0;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                    a{
                        display: block;
                        padding: 15px 20px;
                        text-decoration: none;
                        color: white;
                        &:hover{
                            color: #03989E;
                            transition: all 0.5s;
                        }
                        img{
                            width: 60px;
                            height: 60px;
                        }
                    }

            }
        }
    }
    /*MEDIA MENU*/
    @media (max-width:768px){
        header{
    
            #btnMenu:checked ~ .menu{
                margin: 0;
            }
            label{
                display: block;
            }
            .menu{
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                width: 150px;
                margin-left: -150px;
                ul{
                    align-items:unset;
                    li{
                        &:hover{
                            background-color: #03989E;
                        }
                        a{
                            &:hover{
                                color: white;
                            }
                        }
                    }
                    .logo{
                        display: none;
                    }
                    flex-direction: column;
                }
            }
        }
    }  
}